<a href="https://colab.research.google.com/github/Rizwan-Ahmed-Surhio/AI-for-accountants/blob/main/2_ML_for_Accountants_Naive_Base.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv (r'https://raw.githubusercontent.com/Rizwan-Ahmed-Surhio/Accountants/main/StockData.csv')

df.head()

   Risk %  Return %   Decision  Number
0      16         9  Don't Buy       0
1       2         4  Don't Buy       0
2      28         4  Don't Buy       0
3      20         6  Don't Buy       0
4      15        16        Buy       1

In [ ]:
#Import SK learn package.

from sklearn.naive_bayes import GaussianNB

### Creating two varables for Features and Labels

In [ ]:
features = df[['Risk %', 'Return %']]

labels = df['Number']

In [ ]:
features

     Risk %  Return %
0        16         9
1         2         4
2        28         4
3        20         6
4        15        16
..      ...       ...
234      26         4
235      17         2
236      30         2
237       9         2
238      40         3

[239 rows x 2 columns]

In [ ]:
labels

0      0
1      0
2      0
3      0
4      1
      ..
234    0
235    0
236    0
237    0
238    0
Name: Number, Length: 239, dtype: int64

### Creating a Classifier

In [ ]:
clf = GaussianNB()

### Training

In [ ]:
clf.fit(features, labels )

GaussianNB()

### Prediction

In [ ]:
unknown = pd.read_excel(r'https://raw.githubusercontent.com/Rizwan-Ahmed-Surhio/Accountants/main/Unknown.xlsx')
unknown

   Risk %  Return %
0      16        25

In [ ]:
print(clf.predict(unknown))

[1]